body {
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  height: 600px;
  border: 10px soild;
}

.About-me {
  width: 150px;
  height: 150px;
  background-color: #80aaff;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.Visual-element {
  width: 150px;
  height: 150px;
  background-color: #80aaff;
  text-align: center;
  display: flex;
  flex-direction: row;
}


.Category-section {
  width: 150px;
  height: 150px;
  background-color: #80aaff
  text-align: center;
  display: flex;
  flex-direction: row;
}
