.container {
  width: 80%;
  height: 600px;
  border: 10px soild;
  

.About-me {
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.Visual-element {
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: row;
}


.Category-section {
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: row;
}
