.container {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  border: 10px soild;
  

.About-me {
  display: flex;
  flex-direction: row;
}

.Visual-element {
  display: flex;
  flex-direction: row;
}


.Category-section {
  display: flex;
  flex-direction: row;
}
